body {
	font-size: 1.125rem;
	color: #707070;
	margin: 0;
}

h1	{
	font-size: 3rem;
	color: #212614;
	text-align: center;
}

h1 span	{
	color: #b7832f;
}
h2 {
	font-size: 1.5rem;
}

img {
	width: 100%;
}

.container {
	width: 90%;
	max-width: 980px;
	margin: 0 auto;


}
/*@media (min-width: 600px){
	body {
		background: silver;
	}
}

@media (min-width: 800px){
	body {
		background: lightblue;
	}
}*/



.columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
	align-items: flex-start;
}

.col-1{
	width: 20%;
}

.col-2 {
	width: 45%;
}

.col-3 {
	width: 70%;
}

.col-bg {
	background: #212614;
	padding: 0.5em;
	color: #fff;
	
}

@media (max-width: 600px){
	.columns {
		flex-direction: column;
	}
	.col-1, .col-2, .col-3{
		width: 100%;
	}
}
